<!DOCTYPE html>
<html>
<head>
  <title>Role Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h2>Role-Based Dashboard</h2>
    <hr />
  </header>

  <main>
    <%- body %>
  </main>
</body>
</html>
